<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav li {
            display:inline;
            margin: 10px 20px;
        }
        .more-info {
            font-size: 10px;
        }
    </style>
    <title>🦖 Dinos Dude 😎</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/dinos/dinosaurs">See All Dinos</a></li>
            <li><a href="/dinos/dinosaurs/new">New Dino Form</a></li>
            <li><a href="/creatures/creatures">See All Prehistoric Creatures</a></li>
            <li><a href="/creatures/creatures/new">New Creature Form</a></li>
        </ul>
    </nav>
