<%- include('../partials/header') %>

<h1>Creatures:</h1>

<!-- 
    /creatures?creatureFilter=[whatever the user typed into form]
 -->

<form method="GET" action="/creatures/prehistoric_creatures">
    <label for="creatureSearch">Search:</label>
    <input type="text" name="creatureFilter" id="" placeholder="search creature type...">

    <button type="submit">Search</button>
</form>

<ul>
    <% creatures.forEach((creature, i) => { %>
        <li>
            <%= creature.type %>  <a class="more-info" href="/prehistoric_creatures/<%= i %>">...more info</a>
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') %>