<%- include('../partials/header.ejs') %>

<h1>Create a new critter:</h1>

<form method="POST" action="/creatures/prehistoric_creatures">
    <label for="creatureTyoe">Type:</label>
    <input type="text" name="type" id="creatureType" placeholder="creature type...">
    
    <label for="creatureImg">Image:</label>
    <input type="text" name="img_url" id="creatureImg" placeholder="image url...">

    <button type="submit">Create Creature</button>
</form>

<%- include('../partials/footer.ejs') %>